version: "3.9"

services:
  db:
    image: postgres:15
    container_name: myfeed_db
    env_file: .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: myfeed_redis
    ports:
      - "6379:6379"

  api:
    build: .
    container_name: myfeed_api
    command: uvicorn api.main:app --host 0.0.0.0 --port 8000 --reload
    env_file: .env
    depends_on:
      - db
      - redis
    ports:
      - "8000:8000"
    volumes:
      - .:/app

  bot:
    build: .
    container_name: myfeed_bot
    command: python -m bot.main
    env_file: .env
    depends_on:
      - api
      - redis
    volumes:
      - .:/app

  collector:
    build: .
    container_name: myfeed_collector
    command: python -m collector.main
    env_file: .env
    depends_on:
      - api
      - redis
    volumes:
      - .:/app
      - ./collector2.session:/app/collector2.session

  worker:
    build: .
    container_name: myfeed_worker
    command: celery -A worker.celery_app:celery worker --loglevel=info
    env_file: .env
    depends_on:
      - redis
      - db
    volumes:
      - .:/app

volumes:
  pgdata:
